body{
	margin: 5px;
}

.reminderTile {
	padding: 10px; 
	background-color: ghostwhite; 
	margin: 4px;
	width: 98%;
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid dimgray;
}

.reminderMessage {
	margin-top: 10px;
	font-size: medium;
	float: left;
	user-select: none;
	width: 75%;
}

.reminderOptions {
	float: right;
	width: 25%;
	height: 20px;
}

.iconButton {
	font-size: 24px;
	padding: 12px;
	margin-left: 15px;
	margin-top: 8px;
	background-color: #3F3F3F;
	border-radius: 50%;
	box-shadow: 5px grey;
	color: whitesmoke;
	float: right;
	transition: 0.2s ease;
}

.editIcon {
	padding-left: 16px;
	padding-right: 8px;
}

.iconButton:hover {
	transform: scale(1.2);
	color: darkgrey;
	background-color: white;
	border: 1px solid;
}

.calendarIcon {
	font-size: 24px;
	padding: 12px;
	margin-right: 5px;
	margin-top: -3px;
	background-color: #3F3F3F;
	border-radius: 50%;
	box-shadow: 5px grey;
	color: whitesmoke;
}

.dateTime {
	background-color: blue;
	padding: 14px;
}

